<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POS_DATA.Settings1.Connextion" connectionString="Data Source=TEKSJOIDOL04;Initial Catalog=POS_Restaurant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="POS_DATA.DBAccess.connection" connectionString="Data Source=TEKSJOIDOL04;Initial Catalog=POS_Restaurant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>